<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{373,391}</string>
                <key>spriteSourceSize</key>
                <string>{433,577}</string>
                <key>textureRect</key>
                <string>{{382,1},{373,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{307,387}</string>
                <key>spriteSourceSize</key>
                <string>{433,577}</string>
                <key>textureRect</key>
                <string>{{1,418},{307,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{365,385}</string>
                <key>spriteSourceSize</key>
                <string>{433,577}</string>
                <key>textureRect</key>
                <string>{{390,376},{365,385}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,7}</string>
                <key>spriteSize</key>
                <string>{379,415}</string>
                <key>spriteSourceSize</key>
                <string>{433,577}</string>
                <key>textureRect</key>
                <string>{{1,1},{379,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{776,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:999a4970c2dceba91be5265280264c1c:2630f0807c8013bce4779e7173dab55c:998d06a3a8cfdeb787bb414d46e791c2$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
